@page
@using System.Security.Claims
@using OpenIddict.Abstractions
@model IndexModel
@{
    ViewData["Title"] = "Lettuce Fighters";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>

<div class="content text-center">
    <div class="card-center max-w-screen-md">

        <span class="font-bold align-top">Participant</span><br>
        <a href="/login"><button class="btn">Log in</button></a>

        <hr class="my-2">

        <span class="font-bold align-top">Spectator</span><br>
        <a href="/game"><button class="btn">Spectate</button></a>

    </div>
</div>
