@font-face {
    font-family: "IBM Plex Sans";
    src: local("IBM Plex Sans"), url("/webfonts/plex.ttf") format("truetype");
}
body {
    margin: 0;
    padding: 0;
    background: rgb(30,30,30);
    color: white;
    font-family: "IBM Plex Sans", system-ui, sans-serif;
    overflow: hidden;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(59,68,51);
    gap: 0.5em;
    padding: .2em;
}
header img {
    height: 2em;
}
h1, h2 {
    font-size: 1.2em;
    margin: 0;
}
hr {
    color: inherit;
    border-top-width: 1px;
    height: 0;
}
.byline {
    margin-top: 0;
}

.loginwall {
    margin: 0.5em auto;
    max-width: 35em;
    background: rgb(46, 46, 46);
    padding: 1em;
    border-radius: 5px;
    text-align: center;
}
